---
import StackTag from "./StackTag.astro"

const STACK = {
    HTML: {
        name: "HTML",
        class: "html tag"
    },

    CSS: {
        name: "CSS",
        class: "css tag"
    },

    JAVASCRIPT: {
        name: "JS",
        class: "js tag"
    },

    NOJAVASCRIPT: {
        name: "JS",
        class: "nojs tag"
    },
}

const CHALLENGES = [
    {
        image: "/assets/images/reto-01.png",
        link: "/challenges/reto-01",
        title: "Tarjeta de producto",
        description: "El reto de calentamiento favorito para practicar HTML y CSS. Solo necesitas conocer las bases",
        stack: "",
        level: "Bebé Developer",
        stars: {
            star1: "/assets/icons/star.svg",
            star2: "/assets/icons/star-disabled.svg",
            star3: "/assets/icons/star-disabled.svg",
            star4: "/assets/icons/star-disabled.svg",
            star5: "/assets/icons/star-disabled.svg",
        },
    },

    {
        image: "/assets/images/reto-02.png",
        link: "/challenges/reto-02",
        title: "Componente de encuesta",
        description: "Un reto de HTML y CSS que sirve para practicar flexbox y manejo de estados. Recuerda siempre mirar el prototipo",
        stack: "",
        level: "Bebé Developer",
        stars: {
            star1: "/assets/icons/star.svg",
            star2: "/assets/icons/star-disabled.svg",
            star3: "/assets/icons/star-disabled.svg",
            star4: "/assets/icons/star-disabled.svg",
            star5: "/assets/icons/star-disabled.svg",
        },
    },

    {
        image: "/assets/images/reto-03.png",
        link: "/challenges/reto-03",
        title: "Página de FAQ",
        description: "Una página de preguntas frecuentes con diseño responsive y animaciones con CSS",
        stack: "",
        level: "Principiante",
        stars: {
            star1: "/assets/icons/star.svg",
            star2: "/assets/icons/star.svg",
            star3: "/assets/icons/star-disabled.svg",
            star4: "/assets/icons/star-disabled.svg",
            star5: "/assets/icons/star-disabled.svg",
        },
    },
    
]

---

<div class="challenge-container">
    {
        CHALLENGES.map(({ image, link, title, description, stack, level, stars }) => (
            <a href={link} class="anchor-container">
                <div class="card-container">
                    <div class="card-content">
                        <img src={image} class="challenge-image" />
                        <h3 class="challenge-title">
                            {title}
                        </h3>
                        <p class="challenge-description">
                            {description}.
                        </p>
                    </div>
                    <div class="level-section">
                        <StackTag />
    
                        <div class="level-container">
                            <p class="level-name">{level}</p>
                            <div class="star-container">
                                {Object.values(stars).map((star, index) => (
                                    <img 
                                        src={star} 
                                        alt={`Star ${index + 1}`} 
                                        class="star-icon" 
                                    />
                                ))}
                            </div>
                        </div>
    
                    </div>
                </div>
            </a>
        ))
    }
</div>


<style is:global>
    .challenge-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        justify-content: center;
    }

    .anchor-container {
        display: flex;
        justify-content: center;
        color: var(--shades-black);
        text-decoration: none;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 344px;
        height: 520px;
        background-color: var(--shades-white);
        border: 2px solid var(--primary-900);
        border-radius: 10px;
        transition: 200ms;
    }

    .card-container:hover {
        transform: translate(-6px, -6px);
        box-shadow: 6px 6px 0 var(--primary-900);
        background-color: var(--primary-50);
    }

    .challenge-image {
        max-width: 340px;
        border-radius: 10px 10px 0 0;
    }

    .challenge-title {
        font-family: var(--font-primary);
        font-size: var(--font-xl);
        font-weight: var(--font-bold);
        line-height: 24px;
        width: 304px;
        padding: 20px 0 8px 20px;
    }

    .challenge-description {
        font-family: var(--font-primary);
        font-size: var(--font-base);
        font-weight: var(--font-medium);
        padding: 0 20px 0 20px;
    }

    .level-section {
        display: flex;
        align-items: center;
        padding: 0 20px 15px 20px;
    }

    .stack {
        display: flex;
        list-style: none;
        gap: 8px;
    }

    .tag {
        font-family: var(--font-primary);
        font-size: var(--font-sm);
        font-weight: var(--font-black);
        color: var(--shades-black);
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border-radius: 100px;
    }

    .html,
    .css,
    .js {
        background-color: var(--primary-400);
        transition: 200ms;
    }

    .nojs {
        background-color: var(--neutral-300);
        transition: 200ms;
    }

    .html:hover {
        background-color: var(--html-color);
        scale: 1.1;
    }

    .css:hover {
        background-color: var(--css-color);
        scale: 1.1;
    }

    .js:hover {
        background-color: var(--js-color);
        scale: 1.1;
    }

    .nojs:hover {
        scale: 1.1;
    }

    .level-container {
        margin-left: 26px;
        margin-bottom: 4px;
    }

    .level-name {
        font-size: var(--font-sm);
        font-weight: var(--font-bold);
        display: flex;
        margin-bottom: 2px;
    }

    .star-container {
        display: flex;
        gap: 8px;
    }

    .star-icon {
        width: 16px;
        transition: 200ms;
    }

    .star-icon:hover {
        scale: 1.3;
    }
</style>