---
import ButtonChallenge from "../../components/ButtonChallenge.astro"
import ButtonYouTube from "../../components/ButtonYouTube.astro";
import ButtonDiscord from "../../components/ButtonDiscord.astro"
import ChallengeLevel from "../../components/ChallengeLevel.astro";
import StackTag from "../../components/StackTag.astro";
import Layout from "../../layouts/Layout.astro";

import '../../styles/main.css';

export function getStaticPaths() {
    return [
        { params: { challenge: 'reto-01' }},
        { params: { challenge: 'reto-02' }},
        { params: { challenge: 'reto-03' }},
    ]
}

const { challenge } = Astro.params;

const RESOURCES = [
    {
        downloads: "/downloads/retos-01.zip",
    }
]

interface Title {
    [key: string]: string
}

const titles: Title = {
    "reto-01": "Tarjeta de producto",
    "reto-02": "Componente de encuesta",
    "reto-03": "P치gina de FAQ",
}

interface Description {
    [key: string]: string
}

const descriptions: Description = {
    "reto-01": "El reto de calentamiento preferido de la comunidad, una tarjeta de previsualizaci칩n de producto con animaci칩n sencilla. Perfecto para practicar las bases de HTML y CSS.",
    "reto-02": "Componente de encuesta de satiscacci칩n con animaciones. Practica flexbox y crea un componente animado.",
    "reto-03": "Este reto est치 dise침ado para practicar tus habilidades de HTML y CSS, es una p치gina de preguntas frecuentes donde tendr치s que usar propiedades de CSS para alinear y estilar la interacci칩n del bot칩n y like.x",
}

interface Image {
    [key: string]: string
}

const previews: Image = {
    "reto-01": "/assets/images/reto-01.png",
    "reto-02": "/assets/images/reto-02.png",
    "reto-03": "/assets/images/reto-03.png",
}

interface Links {
    [key: string]: string
}

const links: Links = {
    "reto-01": "/assets/downloads/reto-01.zip",
    "reto-02": "/assets/downloads/reto-02.zip",
    "reto-03": "/assets/downloads/reto-03.zip",
}
---
<Layout title={titles[challenge]}>
    <main class="challenge-section">
        <div class="resources">
            <div class="button-group">

                        <a href={links[challenge]} download>
                            <ButtonChallenge>Descargables</ButtonChallenge>
                        </a>

                <ButtonYouTube>Ver tutoriales</ButtonYouTube>
                <ButtonDiscord>Comunidad</ButtonDiscord>
            </div>

            <h4 class="resource-title">Este reto incluye:</h4>

            <ul class="resource-list">
                <li class="content-item">游꿛 Dise침o y prototipo de Figma.</li>
                <li class="content-item">游늹 Plantilla inicial del c칩digo.</li>
                <li class="content-item">游 README.md del reto.</li>
                <p class="content-text">춰Tambi칠n puedes descargar con la <a href="https://github.com/StreamByte/cli" target="_blank" rel="no referrer" class="accent-text">l칤nea de comandos</a>!</p>
            </ul>

        </div>
        <div class="challenge-content">
            <h2 class="main-page-title">{titles[challenge]}</h2>
            <p class="challenge-description">{descriptions[challenge]}</p>

            <div class="preview-level">
                <StackTag />
                <ChallengeLevel />
            </div>
            <img src={previews[challenge]} alt="imagen del reto" class="challenge-preview" />

            <h3 class='instructive-title'>Instrucciones</h3>
            <ol class="instructive-list">
                <li class="instructive-item">Descarga la carpeta con el dise침o y plantilla del c칩digo. Arrastra el archivo <span class="accent-text">.fig</span> a Figma, funciona tanto en navegador como en la app de escritorio.</li>

                <li class="instructive-item">Abre la carpeta con la plantilla inicial en tu editor de c칩digo preferido y revisa el <span class="accent-text">README.md</span> con los detalles del reto.</li>

                <li class="instructive-item">Revisa el sistema de dise침o y prototipo en Figma. Tendr치s toda la informaci칩n en el archivo <span class="accent-text">DESIGN_SYSTEM.md</span> de cada plantilla.</li>

                <li class="instructive-item">Resuelve utilizando las tecnolog칤as recomendadas si eres principiante. Tambi칠n puedes usar tu stack favorito. El sitio desplegado debe ser lo m치s parecido al dise침o.</li>
                
                <li class="instructive-item">Si necesitas apoyo o buscas resolver en equipo, entra a la nuestro servidor de Discord. Tambi칠n puedes postular tus soluciones, las m치s votadas aparecer치n en el sal칩n de la fama que se encuentra en desarrollo.</li>

                <li class="instructive-item">Cualquier sistema de dise침o, componente o proyecto que hayas creado es completamente tuyo. Puedes adaptarlo en tus propios proyectos. Si lo haces, comp치rtelo que tambi칠n aparecer치 en el sal칩n de la fama.</li>
            </ol>

            <!-- TODO: Crear componente de preguntas frecuentes -->
            <!-- <h3 class='instructive-title'>Preguntas Frecuentes</h3> -->
        </div>
    </main>
</Layout>

<style is:global>
    .resources {
        display: flex;
        flex-direction: column;
        padding-top: 47.5px;
        padding-left: 32px;
        position: fixed;
        border: 2px solid var(--primary-900);
        border-radius: 10px;
        width: 397px;
        height: 420px;
        left: 63%;
        gap: 20px;
        transition: 200ms;
    }

    .resources:hover {
        background-color: var(--primary-50);
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px 0 var(--primary-900);
    }

    .button-group {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 12px;
    }
    .resource-title {
        font-size: var(--font-lg);
        font-weight: var(--font-bold);
    }

    .resource-list {
        font-size: var(--font-md);
        font-weight: var(--font-medium);
        list-style: none;
    }

    .content-item {
        margin-bottom: 12px;
    }

    .accent-text {
        color: var(--primary-700);
        font-weight: var(--font-bold);
        text-decoration: none;
    }

    .content-text {
        font-size: var(--font-sm);
    }

    .challenge-content {
        margin-left: 100px;
        width: 642px;
    }
    
    .challenge-description {
        font-family: var(--font-primary);
        font-size: var(--font-md);
        font-weight: var(--font-medium);
        margin-bottom: 24px;
    }

    .preview-level {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:4px;
    }

    .challenge-preview {
        width: 642px;
        border: 2px solid var(--primary-900);
        border-radius: 10px;
        margin-bottom: 96px;
        transition: 200ms;
    }

    .challenge-preview:hover {
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px 0 var(--primary-900);
    }

    .instructive-title {
        font-size: var(--font-2xl);
        margin-bottom: 32px;
    }

    .instructive-list {
        margin-left: 16px;
        margin-bottom: 96px;
    }
    
    .instructive-item {
        font-family: var(--font-secondary);
        font-size: var(--font-md);
        font-weight: var(--font-medium);
        margin-bottom: 40px;
    }
</style>